<!-- app/views/campaign_finances/search_form.html.erb -->

<%= form_tag(search_results_campaign_finances_path, method: 'post', class: 'form-inline mt-3') do %>
  <div class="form-group mb-2">
    <%= text_field_tag 'cycle', nil, class: 'form-control', placeholder: 'Cycle' %>
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <%= text_field_tag 'category', nil, class: 'form-control', placeholder: 'Category' %>
  </div>

  <%= submit_tag 'Search', class: 'btn btn-primary mb-2' %>
<% end %>